<div class="row justify-content-center text-center">
    <h1 class="card p-2">Gestión de Parqueadero</h1>
</div>
<div class="row justify-content-between text-center mt-2">
    <h2 class="card col col-md-5">Realizar Ingreso</h2>
    <h2 class="card col col-md-5">Realizar Consulta</h2>
</div>
<div class="row justify-content-center text-center">
    <button class="btn btn-primary col-4" id="btnIng">Ingreso</button>
    <div class="col-3"></div>
    <button class="btn btn-warning col-4" id="btnCon">Consulta</button>
</div>