<div class="row justify-content-center text-center">
    <h1 class="card p-2">Parking App</h1>
</div>
<div class="row justify-content-center">
    <div class="card col-10 col-md-5 p-2">
        <div id="log-container">
            <h3 class="text-center">Cambiar contraseña de ingreso</h3>
        </div>
        <form id="changePswd-form">
            <div class="form-group">
                <label for="username">Contraseña actual:</label>
                <input type="password" id="actualpswd" class="form-control" name="actualpswd" placeholder="Contraseña actual..." required>
            </div>
            <div class="form-group">
                <label for="username">Nueva contraseña:</label>
                <input type="password" id="newpswd1" class="form-control" name="newpswd1" placeholder="Nueva contraseña de usuario..." required>
            </div>
            <div class="form-group">
                <label for="username">Confirme la contraseña:</label>
                <input type="password" id="newpswd2" class="form-control" name="newpswd2" placeholder="Repita la contraseña de usuario..." required>
            </div>
            <button class="btn btl-lg btn-primary">Cambiar</button>
        </form>
    </div>
</div>
<div class="row justify-content-center text-center mt-3 mb-3">
    <button class="col-10 col-md-5 btn btn-secondary btn-lg" id="btnHome">Regresar</button>
</div>
