<ul class="navbar-nav ml-auto active">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menú
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <button class="dropdown-item" id="btn-changePswd" href="">Cambiar contraseña</button>
        <div class="dropdown-divider"></div>
        <button class="dropdown-item" id="btn-logout">Cerrar sesión</button>
        </div>
    </li>
</ul>