<div class="row justify-content-center text-center">
    <h1 class="card p-2">Registro Exitoso</h1>
</div>
<div class="row justify-content-center text-center">
    <button id="btn-go-login" class="col-5 btn btn-secondary">Iniciar sesión</button>
</div>
