<div class="row justify-content-center text-center">
    <h1 class="card p-2">Actualización Exitosa</h1>
</div>
<div class="row justify-content-center text-center">
    <button id="btnHome" class="col-5 btn btn-secondary">Regresar</button>
</div>
